.canvas-container {
    position: relative;
    width: 640px;
    margin: auto;
}

#can {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.timer {
    position: absolute;
    padding: 0px 6px;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: rgba(0,88,169,0.5);
}

.canvas-control, .init {
    text-align: center;
    word-spacing: 40px;
    margin: 10px;
    padding: 20px; 
}

.upload-video {
    text-align: center;
}

input[type=text] {
    color: black;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(200, 200, 200, 1);
  }