.canvas-container {
    position: relative;
    width: 640px;
    margin: auto;
}

#can {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.timer {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    font-size: 18px;
    color: red;
    background-color: transparent;
}

.canvas-control, .init {
    text-align: center;
    word-spacing: 40px;
    margin: 10px;
    padding: 20px; 
}