{% extends "base.html" %}
{% block title %}Play Video{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
{% endblock %}


{% block content %}
<div class="init"><button id="init-recording">Play Video</button></div>
<div class="canvas-control" style="display: none;">
    <button id="control-recording">Pause</button>
</div> 

<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/learner.js') }}"></script>
{% endblock %}