{% extends "base.html" %}
{% block title %}Play Video{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
{% endblock %}


{% block content %}
<div class="canvas-control">
    <button id="pause-recording">Play Video</button>
</div> 

<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/learner.js') }}"></script>
{% endblock %}